.intro-alert {
    padding: 20px;
    min-height: 200px;
}

.intro-alert .profile-block {
    max-width: 250px;
    float: left;
    margin: 25px;
}

@media (max-width: 920px) {
    .intro-alert .profile-block {
    min-width: 520px;
    }

    .intro-alert .intro-content {
        padding: 10px 30px 10px 30px;
    }
}

.intro-alert .intro-content {

}