html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

body {
    font-family: "mr-eaves-xl-modern", sans-serif;
    line-height: 26px;
    color: rgb(109, 110, 113);

}
h1,h2,h3,h4,h5,h6, p ,span {
    font-family: "mr-eaves-xl-modern", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(39, 170, 225);

}

.text-white {
    color: rgb(255, 255, 255);
}

.text-white:hover {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(39, 170, 225);
}

a:hover {
    color: rgb(20, 154, 201);
}

a,
a:active,
a:focus {
    outline: none;
}
.clear-both {
    clear: both;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.custom-row {
    margin: auto -15px;
}
.custom-row::before {
    display: table;
    content: " ";
}
.noBackground {
    background: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #fff;
}
#root .modal-dialog {
    margin-top: 120px;
}