html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

body {
    font-family: Lato, sans-serif;
    line-height: 26px;
    color: rgb(109, 110, 113);
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(39, 170, 225);
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-white:hover {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(39, 170, 225);
}

a:hover {
    color: rgb(20, 154, 201);
}

a,
a:active,
a:focus {
    outline: none;
}

.content {
    border-left: 1px solid #e5e9ec;

}

@media (min-width: 800px) {
    .static {
        position: absolute;
        top: 0;
        bottom: 0;
    }
}