.chatroom p {
    margin: 0;
    display: inline-block;
}

.chatroom {
    background-color: rgba(95, 95, 95, 0.7);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(95, 95, 95, 0.3);
}

.chatroom h3 {
    font-family: "Pacifico", cursive;
    background-color: rgba(55, 124, 237, 0.7);
    color: #fff;
    margin: 0;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatroom .chats {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 10px 0 0;
    height: 400px;
    overflow-y: scroll;
}

.chatroom .chats .chat {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 5px 13px;
    font-size: 14px;
    border-radius: 10px;
    list-style: none;
    float: left;
    clear: both;
    margin: 10px 0;
    max-width: 50%;

}

@media (max-width: 991px) {

    .chatroom .chats .chat {
        max-width: 200px;
    }
}

.chatroom .chats .chat {
    margin-top: 20px;
}

.chatroom .chats .chat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 0px;
}

.chatroom .chats .chat.left .chat-message {
    margin-left: 30px;
    display: block;
}

.chatroom .chats .chat.right {
    float: right;
    clear: both;
}

.chatroom .chats .chat a {
    text-decoration: none;
    color: #3498db;
}

.chatroom .input {
    height: 40px;
    width: 100%;
    background: rgba(55, 124, 237, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chatroom .input .input-block {
    width: 100%;
}

@media (min-width: 768px) {
    .chatroom .input .input-block {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.chatroom .input .input-block input[type="text"] {
    background: rgba(255, 255, 255, 0.5);
    outline: 0;
    border: 2px solid #fff;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 10px;
    height: 30px;
    width: 75%;
    box-sizing: border-box;
    font-size: 14px;

}

.chatroom .input input[type="submit"] {
    background: transparent;
    border: 1px solid #fff;
    height: 30px;
    width: 70px;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
    background: #1ee494;
    color: #fff;
}

.chat-left {

    max-width: 200px;
    float: left;
    height: 480px;
    border-right: 2px solid rgba(95, 95, 95, 0.7);
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: auto;
    background: #fff;
}

@media (max-width: 991px) {

    .chat-left .chat .dog-name {
        display: none;
    }

    .chat-left {
        max-width: 70px;
    }
}

.chat-left .chat .dog-name {
    padding-left: 3px;
}

.chat-left .chat .img-block {
    display: inline-block;
    position: relative;
}

.chat-left .chat .message-count {
    color: #fff;
    position: absolute;
    bottom: 3px;
    right: 3px;
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgba(55, 124, 237, 0.8);
    text-align: center;
}

.chat-left button.chat {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    background: transparent;
    border: none;

}

.chat-left button.chat.active {
    margin-top: 5px;
    background: #eee;
    color: rgb(39, 170, 225);
    padding: 3px 0 0px 5px;

}

.chatroom .chat {
    position: relative;
    padding: 4px 0 0 0;
}

.chatroom .chat .img-block {
    padding: 4px 0 0 0;
}

.chatroom .chat .dog-name {
    position: absolute;
    top: 10px;
}

.chat .profile-image {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.chatroom .chat .img-block {
    max-height: 50px;
}

.chatroom .chat .profile-image {
    min-height: 40px;
    max-height: 50px;
}