
.profile-page .status {
    margin-left: 10px;
}

.profile-page .add-image button {
    margin-top: 10px;
    display: inline-block;
}

.profile-page .add-image span {
    display: inline-block;
    margin-left: 10px;
}

.profile-page .profile-name {
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
}

.profile-page .profile-name:hover {
    text-decoration: underline;
}

.profile-state {
    background-color: #e30000;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
}

.profile-page h4 {
    font-size: 1.7em;
    margin-bottom: 0;
}

.profile-page h4 .fa {
    margin-right: 5px;
}

.location span {
    position: relative;
    top: -5px;
    left: 20px;

}

.personal-data {
    max-width: 600px;
    font-size: 15px;
}

.personal-data .item {
    margin-top: 15px;
}

.personal-data .section {
    font-weight: bold;
}

.likes .like {
    margin-left: 20px;
}

.start-chat {
    background: rgb(141, 198, 63);
    padding: 2px 20px;
    width: 70%;
    height: 30px;
    border-radius: 15px;
    position: relative;
    margin: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border: none;
    max-width: 200px;
}

.likes .dislike {
    margin-left: 20px;
}

/**
Post Section
**/
.dog-post {
    max-width: 800px;
    margin: 50px auto;

}

.dog-post .cover-image {
    overflow: hidden;
    border: 5px solid rgb(39, 170, 225);;
    border-radius: 5px;
}

.dog-post .cover-image img {
    width: 100%;
    height: auto;

}

.profile-page .buttontr.btn.btn-love {
    float: none;
    min-width: 200px;
    padding: 2px 20px;
    width: 70%;
    height: 30px;
    border-radius: 15px;
    position: relative;
    margin: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border: none;
    max-width: 200px;
}

.profile-page .buttontr.btn.btn-love.active {
    color: black;
}

.profile-page .profile img {
    max-width: 150px;
}