.container {
    max-width: 1050px;
}

.page-contents {
    padding: 30px 0 50px;
}

section img {
    margin: auto;
}

img.profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

ul {
    padding-left: 15px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
}

.menu form .form-group i.icon {
    position: absolute;
    left: 15px;
    top: 3px;
    color: rgb(255, 255, 255);
}

.live-feed ul.online-users li {
    margin: 0;
}

.profile-card {
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-origin: initial;
    background-clip: initial;
    background: initial linear-gradient(262deg, rgb(252, 120, 90), rgb(249, 45, 127)) initial;
    width: 100%;
    min-height: 90px;
    border-radius: 4px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.profile-card img.profile-photo {
    border: 7px solid rgb(255, 255, 255);
    float: left;
    margin-right: 20px;
    position: relative;
    height: 70px;
    width: 70px;

    border-radius: 50%;
}

.profile-card h5 a {
    font-size: 15px;
}

.profile-card a {
    font-size: 12px;
}

ul.nav-news-feed {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0 40px;
}

ul.nav-news-feed li {
    list-style: none;
    display: block;
    padding: 15px 0;
}

ul.nav-news-feed li div {
    position: relative;
    margin-left: 30px;
}

ul.nav-news-feed li div::after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid rgb(241, 242, 242);
    position: absolute;
    bottom: -15px;
    left: 0;
}

ul.nav-news-feed li a {
    color: rgb(109, 110, 113);
}

ul.nav-news-feed li i {
    font-size: 18px;
    margin-right: 15px;
    float: left;
}

ul.nav-news-feed i.ion-ios-paper {
    color: rgb(141, 198, 63);
}

ul.nav-news-feed i.ion-ios-people {
    color: rgb(102, 45, 145);
}

ul.nav-news-feed i.ion-ios-people-outline {
    color: rgb(238, 42, 123);
}

ul.nav-news-feed i.ion-chatboxes {
    color: rgb(247, 148, 30);
}

ul.nav-news-feed i.ion-images {
    color: rgb(28, 117, 188);
}

ul.nav-news-feed i.ion-ios-videocam {
    color: rgb(158, 31, 99);
}

.sidebar-block {
    margin: 30px 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
}

.sidebar-block .title {
    background: rgb(140, 197, 64);
    width: 70%;
    height: 30px;
    border-radius: 15px;
    position: relative;
    margin: 0 auto 20px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
}

ul.online-users {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 0;
}

ul.online-users li {
    list-style: none;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    margin: 3px auto !important;
}

ul.online-users li span.online-dot {
    background: linear-gradient(rgb(141, 198, 63), rgb(0, 148, 68));
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    border: 2px solid rgb(255, 255, 255);
    right: 7px;
    margin: auto;
}

.timeline-cover .timeline-nav-bar .profile-info img.profile-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
}

.timeline-cover .navbar-mobile .profile-info img.profile-photo {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 200px;
    margin: auto;
    width: 200px;
}

ul.edit-menu li i.icon {
    font-size: 16px;
}

ul.edit-menu li.active i.icon {
    color: rgb(141, 198, 63);
}

.edit-block ul.interests li a i.icon {
    font-size: 18px;
}

.footer {
    background: rgb(255, 255, 255);
    position: relative;
}

.footer::before {
    content: "";

    height: 5px;
    width: 100%;
    position: absolute;
}

.copyright {
    background: rgb(35, 31, 32);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 12px 0 4px;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: rgb(39, 170, 225);
    position: absolute;
    top: 48%;
    left: 48%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
    animation: sk-rotateplane 1.2s ease-in-out infinite;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 9999999;
}

.sidebar-block ul.online-users {
    display: block;
}

.sidebar-block .list-inline > li {
    display: block;
}

.sidebar-block .image-profile {
    height: 58px;
    width: 58px;
    overflow: hidden;
    position: relative;
}

.menu-item.menu-modal {
    background: transparent;
    border: none;
}

.menu-item.menu-modal span {
    background: transparent;
    border: none;
    color: black;
}

.profile-name a {
    font-size: 2rem;
}

.profile-card .profile-followers {
    display: block;
    color: rgb(39, 170, 225);
    font-size: 1.7rem;
}

.sidebar-block.no-auth {
    padding-top: 40px;
}

.sidebar-block.no-auth .btn.title {

}

.sidebar-block.no-auth .image-profile {
    display: block;
}

.sidebar-block.no-auth .profile-content {
    position: absolute;
    top: 10px;
    left: 60px;
    right: 0;
    bottom: 0;
}

.sidebar-block.no-auth .profile-content .span-username {
    color: rgb(52, 70, 225);
    font-size: 1.5rem;
}

.sidebar-block.no-auth .random-list {
    position: relative;
}