
.profile-dropdown a.dropdown-toggle {
    position: relative;
}

.profile-dropdown a.dropdown-toggle::before {
    content: "\f1b0"; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    left: -5px;
    display: block;
    height: 100%;
    top: 0;
    text-align: center;
    vertical-align: middle;
    padding-top: 14px;
    position: absolute;
}
.profile-dropdown.dropdown.open a.dropdown-toggle::before, .profile-dropdown.dropdown.open a.dropdown-toggle , .profile-dropdown.dropdown.open a.dropdown-toggle:hover  {
    background-color: #fff;
}
